// Presets
@import 'ext/bootstrap/variables';

// Vendor
@import 'vendor/bootstrap/bootstrap';

//ext
@import 'ext/bootstrap/root';

// Components

//fonts
@import 'fonts';

#react-target {
  display: flex;
  flex-direction: column;

  header {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    min-height: 0;
  }

  footer {
    flex-shrink: 0;
  }
}
